*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flexbox{
    display: flex;
}

#vp_container{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

img{
    max-width: 100%;
}




#app_main{
    flex-direction: column;
}

.link_view_btn{
    justify-content: flex-end;
    flex-basis: 100%;
}

.btn_style{
    margin: 1.5vh;
    height: 10px;
    width: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #5c5c5d;
    line-height: 10px;
}
.btn_style_right{
    margin: 1.5vh;
    height: 10px;
    width: 10px;
    text-align: center;
    border-radius: 40px;
    background-color: #5c5c5d;
    line-height: 10px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.2rem;
}


#central_container{
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}


.main_icon{
    text-align: center;
}

.main_icon_right{
    text-align: center;
    rotate: 45deg;
}

.cam_container{
    flex-wrap: wrap;
    color: aliceblue;
    gap: 0.05rem;
    justify-content: center;
    width: calc(100% / 12 * 9);
    margin: auto;
}

.cam_and_name{
    width: 40px;
}

.p_img{
    padding-top: 0.05rem;
}